{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Material Design Bootstrap Template</title>

    <!--  CSS  -->
    {% include 'base/base_components/css.html' %}
    <!--/.CSS  -->


</head>

<body>

<!--Main Navigation-->
<header>

    <!--Navbar-->
    {% include 'base/base_components/navbar.html' %}

    <!-- Intro Section -->
    {% include 'base/base_components/intro.html' %}

</header>
<!--Main Navigation-->

{% block content %}{% endblock %}

<!--Footer-->
<footer class="page-footer pt-4 mt-4 text-center text-md-left mdb-color lighten-2">

    <!--Footer Links-->
    {% include 'base/base_components/footer_links.html' %}
    <!--/.Footer Links-->

    <hr>

    <!--Social buttons-->
    {% include 'base/base_components/footer_social_buttons.html' %}
    <!--/.Social buttons-->

    <!--Copyright-->
    {% include 'base/base_components/footer_copyright.html' %}
    <!--/.Copyright-->

</footer>
<!--/.Footer-->


<!--  SCRIPTS  -->
{% include 'base/base_components/scripts.html' %}
<!--/.SCRIPTS  -->
</body>

</html>
