{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <!--Main Layout-->
    <main>

        <div class="container">

            <!--Section: Slider -->
            {% include 'pages/components/slider.html' %}
            <!--Section: Slider -->

            {#<hr class="mb-5 mt-4">#}

        </div>

        <!-- Streak Section -->
        {% include 'pages/components/streak.html' %}
        <!-- /.Streak Section -->

        <div class="container">

            <!--Section: Gallery -->
            {% include 'pages/components/gallery.html' %}
            <!--Section: Gallery -->

        </div>

    </main>
    <!--Main Layout-->

{% endblock %}
