{% load static %}

<div class="social-section text-center">
    <ul class="list-unstyled list-inline">

        <li class="list-inline-item">
            <a class="btn-floating btn-fb">
                <i class="fab fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus">
                <i class="fab fa-google-plus-g"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li">
                <i class="fab fa-linkedin-in"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-dribbble">
                <i class="fab fa-dribbble"> </i>
            </a>
        </li>

    </ul>
</div>