{% load static %}

<div class="view jarallax" data-jarallax='{"speed": 0.2}'
     style="background-image: url({% static 'img/bg.png' %});
             background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-white-light">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="display-3 mb-5 wow fadeInDown" data-wow-delay="0.3s">ACOMPANHANTES<a
                                class="pink-text font-weight-bold">.ME</a>
                        </h1>
                        <h5 class="text-uppercase mb-5 mt-1 font-weight-bold wow fadeInDown" data-wow-delay="0.3s">
                            Free
                            delivery & special prices</h5>
                        <a class="btn btn-outline-pink btn-lg wow fadeInDown" data-wow-delay="0.3s">Tipo</a>
                        <a class="btn btn-pink btn-lg wow fadeInDown" data-wow-delay="0.3s">Cidade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>